:root {
    --mainColor: #15202b;
    --secondaryColor: #192734;

    --mainText: #fff;
    --secondaryText: #eeeeee;


    --borderColor: #164d56;

    --themeDotBorder: #fff;

    --previewBg: rgba(29, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor: #17a2b8;
}